<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4 m-auto">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        BMW
                    </h5>
                    <h6 class="card-subtitle text-muted">
                        <span class="text-primary">
                            $ 15
                        </span>
                    </h6>
                    <div class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit impedit voluptatum soluta recusandae quos maxime consequuntur dicta. Beatae veniam ipsum vero, at dolores aperiam non. Veritatis maiores non adipisci amet.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>