<div class="container mt-4">
    <div class="row">
      <div class="col-md-3 m-auto mt-4">
        <div class="list-group">
          <h4>Products</h4>
          <!-- <div style="height: 180px; overflow-y: auto; overflow-x: hidden;"></div> -->
          <div class="list-group-item" *ngFor="let product of data['products']">
            <label>
              <input type="checkbox" class="form-check-input" (change)="filterProducts($event)" [id]="product.id">
              {{ product.product_name }}
            </label>
          </div>
        </div>
        <button class="btn btn-light mt-4" (click)="getFilterData()">Apply Filter</button>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-4 col-lg-4 col-md-4 mb-4" *ngFor="let data of filter_data">
            <div class="card border-primary h-100">
              <div class="card-header">
                <h5>{{ data.title }}</h5>
              </div>
              <div class="card-body">
                Price: <span class="text-primary">$ {{ data.price }}</span>
                <!-- <p class="card-text mt-4">{{ data.description }}</p> -->
              </div>
                <a routerLink="/product-detail/{{data.id}}" class="btn btn-primary btn-sm">More Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>